{{ define "main" }}
<div>
    <h1 class="price_header">Pricing</h1>
    <div class="container_cards">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Small Bussiness</h5>
                  <p class="card-text">Support and Data Acquisition for 10 vehicles</p>
                  <p class="card-price">1500 &euro;/year</p>
                  <a href="#" class="btn btn-primary mybtn">Contact us</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Medium Company</h5>
                  <p class="card-text">Support and Data Acquisition for 50 vehicles</p>
                  <p class="card-price">3000 &euro;/year</p>
                  <a href="#" class="btn btn-primary mybtn">Contact us</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Large enterprise</h5>
                  <p class="card-text">Support and Data Acquisition for 100 vehicles</p>
                  <p class="card-price">9000 &euro;/year</p>
                  <a href="#" class="btn btn-primary mybtn">Contact us</a>
                </div>
            </div>
    </div>
</div>
{{ end }}
