{{ define "main" }}
<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
		<img alt="logo" src="/banner_1.jpg" style="height: auto; filter: brightness(70%);">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Ecology.</h1>
            <p>Real time emissions tracker, for minimizing pollution.</p>
            <p><a class="btn btn-lg btn-primary" href="/pricing">Pricing</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
		<img alt="logo" src="/banner_2.jpg" style="height: auto; filter: brightness(70%);">

        <div class="container">
          <div class="carousel-caption">
            <h1>Sustainability.</h1>
            <p>Presenting total emited pollution, enabling emission offsetting.</p>
            <p><a class="btn btn-lg btn-primary" href="/how-it-works">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
		<img alt="logo" src="/banner_3.jpg" style="height: auto; filter: brightness(70%);">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Statistics.</h1>
            <p>Analize your driving habits, and it's consequences.</p>
            <p><a class="btn btn-lg btn-primary" href="/statistics">Global statistics</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="/gettyimages-1146431497.webp" width="140" height="140"/>
        <h2>Tracking</h2>
        <p>The ability to see accurate emissions data in real time and for retrospect.</p>
        <p><a class="btn btn-secondary" href="/pricing">View Prices »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/Eco-driving-min-scaled.jpg" width="140" height="140"/>
        <h2>Analysis</h2>
        <p>Determination of optimal speeds and future projected emissions.</p>
        <p><a class="btn btn-secondary" href="/statistics">View Statistics »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="/p-1-90427630-150-years-of-scientific-research-visualized-as-a-single-mesmerizing-network.jpeg" width="140" height="140"/>
        <h2>Transformation</h2>
        <p>Transitioning company ideals to incorporate Sustainability.</p>
        <p><a class="btn btn-secondary" href="/how-it-works">View how it works »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"></p>
    <p style="margin-top: 200px">© 2022 Emidas <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
</main>

<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{{ end }}
